In [1]:
# import libraries
import pandas as pd
import numpy as np

In [3]:
# load file into panda dataframe
df = pd.read_csv('Automobile.csv')

In [41]:
# Data exploration
print("dimentions of the datset:", df.shape)
print("\nfirst few rows of the dataset:")
print(df.head())
print("\ninformation about the dataset:\n")
print(df.info())
print("\nsummary statistics of numerical columns:\n")
print(df.describe())
print("\nunique values in name column\n")
for column in df.select_dtypes(include= 'object'):
    print(column, ":", df[column].unique())

dimentions of the datset: (392, 9)

first few rows of the dataset:
                        name  mpg  cylinders  displacement  horsepower  \
0  chevrolet chevelle malibu   18          8         307.0       130.0
1          buick skylark 320   15          8         350.0       165.0
2         plymouth satellite   18          8         318.0       150.0
3              amc rebel sst   16          8         304.0       150.0
4                ford torino   17          8         302.0       140.0

   weight  acceleration  model_year origin
0    3504          12.0          70    usa
1    3693          11.5          70    usa
2    3436          11.0          70    usa
3    3433          12.0          70    usa
4    3449          10.5          70    usa

information about the dataset:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          392 non-null    object
 1   mpg           392 non-null    int64
 2   cylinders     392 non-null    int64
 3   displacement  392 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        392 non-null    int64
 6   acceleration  392 non-null    float64
 7   model_year    392 non-null    int64
 8   origin        392 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 30.6+ KB
None

summary statistics of numerical columns:

              mpg   cylinders  displacement  horsepower       weight  \
count  392.000000  392.000000    392.000000  392.000000   392.000000
mean    23.283163    5.471939    194.411990  104.469388  2977.584184
std      7.745896    1.705783    104.644004   38.491160   849.402560
min      9.000000    3.000000     68.000000   46.000000  1613.000000
25%     17.000000    4.000000    105.000000   75.000000  2225.250000
50%     22.500000    4.000000    151.000000   93.500000  2803.500000
75%     29.000000    8.000000    275.750000  126.000000  3614.750000
max     46.000000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    392.000000  392.000000
mean      15.541327   75.979592
std        2.758864    3.683737
min        8.000000   70.000000
25%       13.775000   73.000000
50%       15.500000   76.000000
75%       17.025000   79.000000
max       24.800000   82.000000

In [42]:
print(df)

                          name  mpg  cylinders  displacement  horsepower  \
0    chevrolet chevelle malibu   18          8         307.0       130.0
1            buick skylark 320   15          8         350.0       165.0
2           plymouth satellite   18          8         318.0       150.0
3                amc rebel sst   16          8         304.0       150.0
4                  ford torino   17          8         302.0       140.0
..                         ...  ...        ...           ...         ...
393            ford mustang gl   27          4         140.0        86.0
394                  vw pickup   44          4          97.0        52.0
395              dodge rampage   32          4         135.0        84.0
396                ford ranger   28          4         120.0        79.0
397                 chevy s-10   31          4         119.0        82.0

     weight  acceleration  model_year  origin
0      3504          12.0          70     usa
1      3693          11.5          70     usa
2      3436          11.0          70     usa
3      3433          12.0          70     usa
4      3449          10.5          70     usa
..      ...           ...         ...     ...
393    2790          15.6          82     usa
394    2130          24.6          82  europe
395    2295          11.6          82     usa
396    2625          18.6          82     usa
397    2720          19.4          82     usa

[392 rows x 9 columns]

In [43]:
# data cleaning

if df.duplicated().any():
    df.drop_duplicate(inplace=True)
    print("duplicates=yes")
    
else:
    print("duplicate=no")

duplicate=no

In [37]:
missing_value_count = df.isnull().sum()
print("\nmissing values count")
print(missing_value_count)

# Get rows and columns with missing values
rows_with_missing = df[df.isnull().any(axis=1)]
columns_with_missing = df.columns[df.isnull().any()]

# Print rows with missing values
print("\nRows with missing values:")
print(rows_with_missing)

# Print columns with missing values
print("\nColumns with missing values:")
print(columns_with_missing)

missing values count
name            0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

Rows with missing values:
Empty DataFrame
Columns: [name, mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin]
Index: []

Columns with missing values:
Index([], dtype='object')

In [36]:
# Delete rows with missing values
df.dropna(inplace=True)

In [40]:
# Convert column from float to int
df['mpg'] = df['mpg'].astype(int)